.bg {
  background-color: #FCFCFD  !important;
}
.bg2 {
  background-color: #F3F3F6  !important;
}

.main {
  background-color: #9192A4  !important;
}
.main2 {
  background-color: #5C5CF7  !important;
}

.color {
  color: #5E5D75  !important;
}
.color2 {
  color: #5656F2  !important;
}