.abt-pg-container {
}

.abt-container {
  min-height: calc(100vh - 100px);
}

.abt-img-c {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -2;
}

.abt-img-c .abt-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.abt-img-shadow {
  position: absolute;
  background: linear-gradient(to bottom, #18204988, #2d407e88);
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.abt-header {
  position: relative;
}

.abt-header-text {
  padding: 20px;
  color: white;
  min-height:100vh;
  align-content: center;
}

.abt-header-text .abt-title {
  font-weight: 900;
  font-family: "Domine";
  font-size: 3.5vw;
  text-align: center;
  letter-spacing: 0.02vw;
}

.abt-header-text .abt-title .highlight {
  display: inline;
  text-decoration: none;
  font-family: "Domine";
  color: yellow;
}

.abt-header-text .abt-desc {
  font-weight: 300;
  font-family: "roboto";
  font-size: 1.4vw;
  margin:auto;

}

@media screen and (min-width: 900px) {
  .abt-header-text .abt-desc {
    width: 60vw;
    margin-top: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .abt-header-text .abt-desc {
    font-size: 20px;
    line-height: 1.2;
  }

  .abt-header .abt-title {
    font-size: 26px;
    padding: 0;
  }
}

body:has(.abt-pg-container) .np-header,
body:has(.abt-pg-container) .navbar {
  background: transparent ;
}

body:has(.abt-pg-container) .np-header {
  background: transparent;
}

body:has(.abt-pg-container) .sdm-nvb-showing,
body:has(.abt-pg-container) .sdm-nvb-hidden {
  margin-top: -100px;
}
