.abts-container {
  min-height: calc(100vh - 100px);
}

@media screen and (max-width: 768px) {
  .abts-container {
  }
  .abts-header .abts-img-c, .abts-img-shadow, .sdm-nvb-hidden {
  }
}

.sdm-nvb-hidden { overflow-x: hidden }

.abts-header .abts-img-c {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -2;
}

.abts-header .abts-img-c .abts-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.abts-img-shadow {
  position: absolute;
  background: linear-gradient(to bottom, #18204988, #2d407e88);
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.abts-header {
  position: relative;
}
.abts-header-text {
  padding: 20px;
  color: white;
  min-height:100vh;
  align-content: center;
}
.abts-header-text .abts-title {
  font-weight: 900;
  font-family: "Domine";
  font-size: 3.425rem;
  text-align: center;
  letter-spacing: 0.02vw;
}
.abts-header-text .abts-title .highlight {
  display: inline;
  text-decoration: none;
  font-family: "Domine";
  color: springgreen;
}
.abts-header-text .abts-desc {
  font-weight: 300;
  font-family: "roboto";
  font-size: 1.225rem;
  margin:auto;

}
.abts-header .abts-arrow-c {
  position:absolute;
  bottom: 35px;
  width: 100vw;
  text-align: center;
}

.abts-arrow-c .abts-arrow {
  font-size: 50px;
  color: white;
}
@media screen and (min-width: 900px) {
  .abts-header-text .abts-desc {
    max-width: 60rem;
    margin-top: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .abts-header-text .abts-desc {
    line-height: 1.2;
    zoom: 80%;
  }

  .abts-header .abts-title {
    zoom: 80%;padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .abts-header .abts-desc, .abts-header .abts-title {
    zoom: 60%;
  }
  .abts-info {
    zoom: 80%;
  }
}

body:has(.abts-pg-container) .np-header,
body:has(.abts-pg-container) .navbar {
  background: transparent ;
}

body:has(.abts-pg-container) .sdm-nvb-showing,
body:has(.abts-pg-container) .sdm-nvb-hidden {
  margin-top: -100px;
}


.abts-info {
  margin-top: 40px !important;
  overflow-x: hidden !important;
  max-width: 1450px;
  margin: auto;
}

.abts-i-container {
  padding: 20px;
}

.abts-i-container .title {
  font-size: 40px;
  font-weight: 900;
  font-family: "inter";
}

.abts-i-container .text {
  font-size: 22px;
  font-family: "inter";
  font-weight: 300;
  min-width: 300px;
  max-width: 100% !important;
}

.abts-el-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0 20px;
  flex-wrap: wrap;
}

.abts-bg-c {
  padding: 20px;
  background: #15626C;
  color: white;
}

.abts-bg-c .title {
  font-weight: 900;
  font-size: 40px;
  font-family: "inter";
  margin-bottom: 20px;
}

.abts-bg-c .text {
  font-weight: 300;
  font-size: 20px;
  font-family: "inter";
}

.abts-el-container .abts-bg-c {
  min-width: 300px;
  min-height: 300px;
  width: 30%;
  flex-grow: 1;
}

.abts-cc-el-container {
  padding: 0px 60px;
  margin: 0;
}

.abts-cc-el-container .item {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 300;
  font-family: "inter";
}
