.bc-container {
  height: 100%;
  min-height: max-content;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  gap: 10px;
  background:#FFFFFF;
}

.bc-latest {
  width: 100%;
}

.ltbg-container {
  display: block;
}

.ltbgs * {
  overflow-x: hidden;
}
.ltbgs {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  flex-wrap: wrap;
  gap: 1.3rem;
}

.blog-card-container {
  border: 1px solid #0000;
}

.blog-card-container:hover {
}
