.epf-container {
  padding: 1vh 1vw;
}

.epf-r1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.epf-r1 .epf-i1 .epf-close{
  cursor: pointer;
  text-align: center;
}

.epf-banner-img {
  overflow: hidden;
  text-align: center;
}

.epf-article {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.epf-i2 {
  font-family: "Merriweather";
  margin-right: auto;
  font-weight: 900;
}



.epp-preview {
  margin-top: 2rem;
  font-weight: bold;
  font-family: "lato";
  color: #999;
}

.epp-desc-span {
  display: inline;
  position: absolute;
  right: 0;
  top: -2ch;
  font-size: smaller;
}

.epp-desc {
  position: relative;
  width: max-content;
}

.epp-desc-ta {
  min-height: max-content;
  height: 16.5ch;
  text-align: justify;
  resize: none;
  padding: 15px;
  font-family: "lato";
  font-size: 17px;
  width: 500px;
  outline: none;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 7px;
  scrollbar-width: 0;
  scroll-behavior: smooth;
}

.epp-title {
  width: 100%;
  font-size: 35px;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.2;
  outline: none;
  border: none;
  margin: .5em 0;
  color: #1f1f1f;
  resize: none;
}

.epp-section {
  margin-left: 20px;
}
.epp-desc-label {
  font-size: 18px;
}

.epp-tags-container .bx-plus {
  cursor: pointer;
}

.epp-nt-container {
  margin-top: 10px;
}

.epp-nt-container .epp-nt-input {
  padding: 10px;
  font-size: 18px;
  outline: none;
  border: 2.5px solid transparent;
  transition: 0.3s ease;
}

.epp-nt-container .epp-nt-input:focus {
  border-color: #18f;
}

.epp-tags-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 700px;
}

.epp-tag-item {
  display: flex;
  align-items: center;
  background-color: #18f;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.epp-tag-text {
  margin-right: 10px;
}

.epp-tag-close-btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.epp-tags-left {
  color: #666;
  font-weight: 700;
}

#epf-tags-info {
  z-index: 10;
}

.please_bigger_screen {
  display:none;
  z-index: 11;
  font-size: 20px;
  margin-top: calc(50vh - 5ch);
  width: 100%;
  text-align: center;
}

.please_bigger_screen_container {
  display:none;
  width: 100%;
  height: 100%;
  margin: 0;
  position:relative;
}

@media screen and (max-width: 630px) {
  .please_bigger_screen_container {
    display: block !important;
  }

  .please_bigger_screen {
    display: block !important;
  }

  .epf-container * {
    display: none;
  }
  .ep-container * {
    display: none;
  }
}
