.sdm-nvb-hidden:has(.hmc-header) {
  margin-top: -100px;
}
.hmc-header {
  min-height: 100vh;
  position: relative;
}

@media screen and (max-width: 380px) {
  .hmc-header {
    min-height: max-content;
    height: 70vh;
  }
}

.h-arrow-c {
  position: absolute;
  z-index: 1;
  width: 64px;
  bottom: 0;
  margin: auto;
  width: 100%;
  text-align: center;
}

.h-arrow-c .h-arrow {
  color: white;
  font-size: 64px;
  text-align: center;
  margin: auto;
  padding-bottom: 30px !important;
}

.hmc-header .layer-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/home/header5.webp");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size:cover;
  z-index: -1;
}
.layer-img .shadow-overlay {
  width: 100%;
  height: 100%;
  background: #0004;
}

.hmc-header .hmc-info {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .hmc-header .hmc-info {
    zoom: 60%;
  }
}

.hmc-info .hmc-text {
  display:flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 9vw;
}

.hmc-info .hmc-text .title {
  font-weight: 900;
  font-family: "inter";
  font-display: swap !important;
  color: #fff;
  font-size: 48px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.hmc-info .hmc-text .desc {
  font-weight: 100;
  font-family: "inter", "montserrat", sans-serif;
  font-size: 32px;
  color: white;
  text-align: center;
  margin-top: -25px;
  margin-bottom: 25px;
  font-style:italic;
}

.hmc-links {
  width: 100%;
  justify-content: space-evenly;
  display:flex;
  flex-direction:row;
  gap:10px
}

.hmc-btn {
  font-family: "inter";
  width: 150px;
  padding: 10px 36px;
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  background: none;
  text-decoration: none;
  transition: 0.4s all ease;
  zoom: 120%;
}
.hmc-btn:hover {
  color: cyan;
  border-color: cyan;
}

.hmc-bp-container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.hmc-bps {
  margin: 4vh 0;
}



.hmc-main-subcontainer {
  margin-top: 0;
  padding-top: 10px;
  background: #fff;
}


.hmc-cts-big-container {
  background: linear-gradient(to bottom, #0000ff00 55%, #2D417E66 83%, #2D417E66 97%), linear-gradient(to top, #2D417E66 12%, #2D417E33 44%, #0000ff00 74%), linear-gradient(to right, #3729EC66 0%, #3729EC66 100%);
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F4012650.jpg&f=1&nofb=1&ipt=1e12f46257b5d0a6b22dbdf9c4530b4fade04ec37842b8749eb85ee292b7fb60&ipo=images");
  background-repeat: no-repeat;
  object-fit:fill;
  background-size:cover;
  background-position-y:top;
}

.hmc-cts-container {
  position:relative;
  display:flex;
  flex-direction: column;
  flex-wrap:nowrap;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-color:#1c204788;

  margin-top: 10px;
  padding: 20px;
  margin-bottom: 4rem;

  background-image: url("../../assets/projects/home1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.hmc-cts-container .shadow-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1c204788;
}

.hmc-cts-text-container {
  position: absolute;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7%;
}

.hmc-cts-title {
  font-display: swap;
  font-size: 4vw;
  font-family: "Domine", serif;
  font-weight: 900;
  color: white;
}

.hmc-cts-desc {
  font-family: "roboto", sans-serif;
  font-size: 1.45vw;
  color: yellow;
  padding: 5px;
  font-weight: 600;
}
@media screen and (max-width: 1000px) {
  .hmc-cts-title {
    font-size: 35px;
  }
  .hmc-cts-desc {
    font-size: 22px;
  }
}
@media screen and (max-width: 700px) {
  .hmc-cts-title {
    font-size: 25px;
  }
  .hmc-cts-desc {
    font-size: 15px;
  }

  .hmc-cts-container {
    height: 60vh;
    min-height: max-content;
  }
}
@media screen and (max-width: 550px) {
  .hmc-cts-title {
    font-size: 19px;
  }
  .hmc-cts-desc {
    font-size: 16px;
  }
}



.hmc-cts-desc u {
  color: white;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
  text-decoration-color: #cc0;
  padding: 5px;
  transition: all 0.1s ease;
}

.hmc-cts-text-container .hmc-cts-desc u:hover {
  background: #cc0;
  color: white;
  cursor:pointer;
  text-decoration: none;
}

.hmc-i-container {
  padding: 20px;
}

.hmc-i-container .title {
  font-display: swap;
  font-weight: 900;
  font-size: 43px;
  font-family: "Domine";
}

.hmc-i-container .text {
  font-weight: 300;
  font-size: 26px;
  font-family: "roboto";
}

.hmc-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 40px 15px;
  background: #F9FAFB;
}

.hmc-list-container .item {
  padding: 2rem;
  border: 1px solid #ccc;
  width: 32%;
}

.hmc-list-container .item .item-icon {
  padding: 0.75rem;
  border-radius: 50%;
  background: #f5f5f5 !important;
  width: fit-content;
  margin-bottom: 1.5rem;
}


.hmc-bg-c:hover {
  box-shadow: 0px 3px 15px #999 !important;
  transform: translateY(-5px);
}
.hmc-bg-c {
  padding: 20px;
  transition: all 0.2s ease;
  cursor: default;
}

.hmc-bg-c .title,
.item.hmc-bg-c .title .text {
  font-weight: 600;
  font-family: "inter";
  font-size:1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.75rem;
  letter-spacing: -0.025em;
}

.item.hmc-bg-c .title {
  font-display: swap;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 15px;
}

.item.hmc-bg-c .item-link {
  color: #15626c !important;
  text-decoration: none;
}

.title .dot {
 width: 16px;
  height: 16px;
  background: #49859f;
  border-radius: 50%;
}

.item.hmc-bg-c .text {
  margin-bottom: 1.5rem !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  color: rgb(75 85 99 / var(--tw-text-opacity)) !important;
  font-family: "inter" !important;
  width: 350px;
}

.hmc-main-subcontainer .title.text-center {
  font-display: swap;
  display: inline-block;
  margin-left: calc(50% - 4.7ch);
  margin-bottom: -20px;
  margin-top: 20px;
  font-size: 52px;
  font-weight: 900;
  font-family: "Domine";
  padding: 0 20px;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 600px) {
  .hmc-list-container,
  .hmc-main-subcontainer .title.text-center
  {
    zoom: 60%;
  }
}

body:has(.sdm-nvb-hidden .hmc-header) .navbar {
  background: none !important;
}
