.mp-container {
  padding: 2vh 2vw;
  min-height: 100vh;
  margin-bottom: 5rem;
}

.mp-container * {
  font-size: 16px;
}

.mp-input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 1em;
}

.mp-profile-img-ic .mp-profile-img {
  width: 150px;
  border-radius: 50%;
}

.mp-email-ic .mp-email,
.mp-name-ic .mp-name {
  border: 1px solid black;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 20px;
  min-width: max-content;
}

.mp-email-ic .mp-email:focus,
.mp-name-ic .mp-name:focus {
  outline: none;
  border-color: blue;
}

.mp-email-ic .mp-email.disabled {
  filter: brightness(0.8) !important;
  cursor:not-allowed !important;
  background: white;
}

.mp-name-ic .mp-name.disabled {
  filter: brightness(0.8) !important;
  cursor: not-allowed !important;
  background: white;
}

.mp-no-data {
 text-align: center;
}

.mp-no-data .mp-no-data-msg {
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}


.mp-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
  height: 100%;
  margin-top: 2em;
}

.mp-info-title {
  font-family: "Merriweather";
  font-size: 24px;
  padding: 9px;
  border-bottom: 2px solid black;
}

.mp-info-container .mp-info-ic {

  width: calc( calc( 100% - 12vw ) / 3 );
  min-width: 300px;

  padding-right: 5vw;
}

.mp-info-container .mp-info-ic .mp-info-title {
  margin-bottom: 1rem;
}

.mp-socials {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;

  gap: 15px;
}

.mp-social-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;
  gap: 1ch;
}

.mp-social-link .mp-social-icon {
  font-size: 35px;
}

.mp-social-link .mp-social-url {
  font-size: 18px;
  font-weight: 300;
  color: #222;
  max-width: 100%;
  flex-grow: 1;
  background: #fff;
  border: 1px solid black;
  padding: 15px;
  font-family: "Open Sans";
}

.instagram-icon {
  color: #C13584;
  background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF, #515BD4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.mp-container input {
  border: none;
  background: none;
}


.mp-social-url:focus,
.mp-social-url:active {
  outline: none;
  border-color: blue;
}

.facebook-icon {
  color: #1877F2;
}

.twitter-icon {
  color: #1DA1F2;
}

.linkedin-icon {
  color: #0A66C2;
}


.mp-submit-bc {
  display: flex;
  flex-direction: row;

  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  margin-left: auto;
  margin-right: 2em;


  border-bottom: 1px solid #555;
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.mp-submit-bc .mp-submit-btn {
  font-size: 22px;
  padding: 20px 20px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  border: 0.5px solid black;
}

.mp-submit-bc .mp-submit-btn:hover {
  color: #3D6EF9;
  border-color: #3D6EF9;
}

.mp-submit-bc .mp-submit-bc-page-title {
  font-weight: 300;
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.mp-add-container {
  padding-left: .2em;
  margin-bottom: 1rem;
}

.mp-add-icon {
  font-size: 32px;
  cursor: pointer;
  border: 1px solid #fff0;
}

.mp-add-icon:hover {
  border-color: blue;
  color: blue;
  border-radius: 50%;
}

.mp-info-ic:hover .mp-info-title {
  border-bottom-color: blue;
}

.mp-container:has(.mp-input-container:hover) .mp-submit-bc {
  border-bottom-color: blue;
}


.mp-fav-ic .mp-no-data {
  margin-top: 2em;
}


.mp-profile-img-ic {
  position: relative;
  margin-right: 2rem;
}

.mp-img-overlay {

  opacity: 0;
  transition: opacity 500ms ease;

  position: absolute;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: #222d;

  cursor: pointer;
}

.mp-img-overlay .mp-overlay-text {
  color: white;
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
  font-family: "open sans";
}

.mp-img-overlay:hover {
  opacity: 1;
}

.mp-img-overlay .mp-overlay-img {
  display: block;
  width: 60px;
}

#mp-profile-img-input {
  display: none;
}

.mp-text-ic {
  margin: 0; padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

@media screen and (max-width: 735px) {
  .mp-info-container {
    justify-content: center;
  }
}
