@import url('https://fonts.cdnfonts.com/css/google-sans');

.signin-btn {
  font-family: "Google Sans" !important;
}

.signin-btn:hover {
  transition: 0.3s all;
  background-color: rgb(9, 106, 202);
  border-color: rgb(9, 106, 202);
}