@import url('https://fonts.cdnfonts.com/css/google-sans');
@import url("../../fonts/bower.css");

.signin-btn {
  font-family: "Google Sans" !important;
}
.signin-btn {
  background: transparent;
  border: 1px solid white;
  color:white;
  transition: 0.2s ease-out;
}

.signin-btn:focus,
.signin-btn:hover {
  border-color: cyan;
  color: cyan;
  background: transparent;
}

.navbar {
  top: 0 !important;
  left: 0 !important;
  z-index: 10 !important;
  min-height: 100px !important;
  position: sticky;
  background-color: #2D417E;
  box-shadow: 0px 0px 10px #283145;
}

@media screen and (max-width: 991px) {
  .navbar-special-btn {
    display: block !important;
    text-align: center;
    margin-top: 15px;
  }

  .navbar-nav *{
    font-size: 2.5vw !important;
  }

  .nb-on-md-hidden {
    display: none;
  }
}
.navbar-nav {
  display: flex;
  flex-direction: row;
}
.nb-end-md {
  display: flex !important;
  align-items: center;
  margin-left: auto;
  text-align: center;
}
.nb-end-md img {
  border-radius: 50%;
  border: 0px solid #666;
}

.nb-end-md i {
  margin-right: 15px;
  font-size: 25px !important;
  cursor: pointer;
  transition: 50ms all;
  scale: 1.1;
  margin-top: 5px;
}


.nb-end-md i:active {
  scale: 1.15;
  transition: 200ms ease-out;
}

.nb-end-md img:hover {
  border: 1px solid #6666;
  transition-duration: 100ms;
  transition-property: all;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 71, 0.2);
}

.modal-fullscreen, .modal-fullscreen * {
  border: none;
}

.nb-search-container {
  width: calc(100% - 0px);
  margin: auto;
  height: 50px;
  max-width: 950px;
}

.nb-search-container .nb-search {
  width: 100%;
  height: 100%;

  margin-top: 3.5rem;
  margin-left: 20px !important;

  padding: 26px 14px;

  font-size: larger;
  font-family: "roboto";

  border-radius: 7px;
  border: 2px solid #ccc;
  transition: box-shadow 0.3s ease;
}

.nb-search-container .nb-search:active,
.nb-search-container .nb-search:focus {
  border: 2px solid #18f;
  box-shadow: 0 0 8px 2px #18f;
}

.bx.bx-x.mb-5{
  color: #ddd;
  background: none;
  border: none;
  font-size: 50px;
  margin-bottom: 6rem;
  font-weight: 100;
}

.text-logo {
  font-size: 32px;
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Bower";
}

.nav-item i, .nav-item .nav-link{
  color: white !important;
  font-weight: 300 !important;
}
.navbar-brand {
  margin: 0 !important;
}

.nav-item .bx.bx-chevron-down {
  font-size: 30px !important;
}

.nav-link:hover {
  color: cyan !important;
}
