.signin-btn {
  font-family: "Open Sans" !important;
}
.signin-btn {
  background: transparent;
  border: 1px solid white;
  color:white;
  transition: 0.2s ease-out;
}

.signin-btn:focus,
.signin-btn:hover {
  border-color: cyan;
  color: cyan;
  background: transparent;
}

.navbar {
  top: 0 !important;
  left: 0 !important;
  z-index: 10 !important;
  max-height: 100px !important;
  min-height: 100px !important;
  position: sticky;
  background-color: #2D417E;
  box-shadow: 0px 0px 10px #283145;
}

@media screen and (max-width: 991px) {
  .navbar-special-btn {
    display: block !important;
    text-align: center;
    margin-top: 15px;
  }

  .navbar-nav *{
    font-size: 2.5vw !important;
  }

  .nb-on-md-hidden {
    display: none;
  }
}
.navbar-nav {
  display: flex;
  flex-direction: row;
}
.nb-end-md {
  display: flex !important;
  align-items: center;
  margin-left: auto;
  text-align: center;
}
.nb-end-md img {
  border-radius: 50%;
}

.nb-end-md i {
  margin-right: 15px;
  font-size: 25px !important;
  cursor: pointer;
  transition: 50ms all;
  scale: 1.1;
  margin-top: 5px;
}

.nb-end-md .nb-end-profile-ic:has(.nb-end-profile) {
  border-radius: 50%;
  border: 2px solid #fff;
  padding: 2px;
}

.nb-end-md i:active {
  scale: 1.15;
  transition: 200ms ease-out;
}

.nb-end-md i:hover {
  color: cyan !important;
}

.nb-end-md .nb-end-profile-ic:has(.nb-end-profile):hover {
  border: 2px solid #34417c;
  transition-duration: 100ms;
  transition-property: all;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 71, 0.2);
}

.modal-fullscreen, .modal-fullscreen * {
  border: none;
}

.nb-search-container {
  width: calc(100% - 10rem);
  margin: auto;
  height: 50px;
}

.nb-search-container .nb-search::placeholder {
  color: #333;
}
.nb-search-container .nb-search {
  width: 100%;
  height: 100%;

  margin-left: 20px !important;

  padding: 36px 20px;

  font-size: larger;
  font-family: "open sans";
  font-weight: 300;

  border-radius: 0;
  border: 2px solid #ccc;
  transition: box-shadow 0.3s ease;
}

.nb-search-container .nb-search:active,
.nb-search-container .nb-search:focus {
  border: 2px solid #18f;
  box-shadow: 0 0 8px 2px #18f;
}

.bx.bx-x.mb-5 {
  color: #ddd;
  background: none;
  border: none;
  font-size: 50px;
}

.bx.bx-x.mb-5:hover {
  color: cyan !important;
}

.custom-navbar-modal .bx.bx-x.mb-5{
  color: #ddd;
  background: none;
  border: none;
  font-size: calc( 72px + 1.2em );
  margin-bottom: 8rem;
  margin-top:  0.7em;
  margin-right: 1rem;
  font-weight: 100;
}

.custom-navbar-modal .bx.bx-x.mb-5:hover {
  color: cyan !important;
}

.text-logo {
  font-size: 32px;
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Bower";
}

.nav-item i, .nav-item .nav-link{
  color: white !important;
  font-weight: 300 !important;
}
.navbar-brand {
  margin: 0 !important;
}

.text-logo {
  font-size: 32px;
}

.nav-item .bx.bx-chevron-down {
  font-size: 30px !important;
}

.nav-link:hover {
  color: cyan !important;
}


@media screen and (max-width: 900px) {
  .navbar.navbar-light .navbar-nav .nav-item {
    display:none;
  }
}

.navbar-sdm-btn-container {
  margin-right: 1rem;
}
.navbar-sdm-btn {
  font-size: 32px;
  margin-top: 2px;
  cursor: pointer;
  color: white;
}

body:has(.sdm-container) .navbar.navbar-light .navbar-nav .nav-item {
  display: none;
}
