@import url('https://fonts.cdnfonts.com/css/google-sans');

.signup-form{
    height: max-content;
    width: 400px;
    background-color: #ffffff;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    /* border: 2px solid #345a79; */
    padding: 30px 35px;
    padding-bottom: 0px !important; 
    zoom:100% !important;
}
.signup-form *{
    font-family: 'Google Sans', sans-serif;
    color: #181818;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.signup-form img {
  position: absolute;
  top:3%;
  left:0;
}

.signup-form .input-group {
  height: 50px !important;
}

.signup-form .input-group .input-group-text {
  position: absolute !important;
  top: 1ch !important;
  width: 2ch !important;
  background-color: transparent;
  z-index: 1000;
}

.signup-title{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.signup-form label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.signup-form input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgb(231, 231, 231);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.signup-form *::placeholder{
    color: #000000;
}

.signup-name-input,
.signup-username-input,
.signup-password-input {
  padding-left: 5ch !important;
}

.signup-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh; 
}

.signup-button{
    margin-top: 35px;
    width: 100%;
    background-color: #32546F;
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.signup-go{
  background-color: #fff;
  border: 3px solid rgb(255, 92, 92) !important;
  padding: 10px 0 10px 0;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
}

.signup-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
  margin-top:10px;
  padding: 12px 16px 12px 42px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  width: 100%;
  color: #252525;
  font-size: 15px;
  font-family: "Google Sans", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 15%;
  
  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    background-color: #f3f2f2;
  }
  
  &:active {
    background-color: #eeeeee;
  }
  
  &:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }
  
  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
  }
}

@media screen and (max-width: 430px) {
  .signup-form {
    zoom: 80%;
  }
}

@media screen and (max-height: 640px) {
  .signup-form {
    zoom: 80%;
  }
}
@media screen and (max-width: 330px) {
  .signup-form {
    zoom: 60%;
  }
}

.auth-link {
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}