@font-face {
    font-family: 'monarque regular';
    src: url('monarque-regular-webfont.woff2') format('woff2'),
         url('monarque-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'monarque bold';
    src: url('monarque-bold-webfont.woff2') format('woff2'),
         url('monarque-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'monarque semi-bold';
    src: url('monarque-semibold-webfont.woff2') format('woff2'),
         url('monarque-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}