@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..700&family=Geist:wght@400..700&family=Domine:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/times-new-roman');
/*
*   Open Sans
*   Roboto
*   Domine
*   Times New Roman
*   Geist
*   Inter
* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Open Sans";
}
body {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}

html:has(.modal-open)::-webkit-scrollbar {
  display: none;
  overflow-y: hidden !important;
}
body.modal-open {
  overflow-y: hidden;
  max-height: 100vh;
}

.modal {
  overflow-y: hidden;
}
html {
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 15px;
}

html::-webkit-scrollbar-track {
  border: 5px solid #16526C;
	background-color: #b2bec3;
}

html::-webkit-scrollbar-thumb {
  background-color: #16526C;
	border-radius: 10px;
}

.home {
  font-family: "Roboto";
}

.text-serif {
  font-family: "Times" !important;
}

.text-bolder {
  font-weight: 500;
}

.text-bold {
  font-weight: bold;
}

.text-sans {
  font-family: "Roboto";
}

.text-lg {
  font-size: 20px;
}

.nav-link {
  border-bottom: 3px solid #0000;
}

.nav-link:hover,
.dp-btn.nav-link.active.text-sans:hover {
  transition-duration: 0.3s;
  transition-property: all;
  border-bottom-color: #18f;
  color: cyan !important;
}

.text-google {
  font-family: "Open Sans" !important;
}

.bg-gray {
  background-color: #eee;
}

.disable {
  pointer-events: none;
  filter: brightness(0.8);
}

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none !important;
  }
}

.selected {
  background: #008bff;
}

button.no-design,
button.no-default-design {
  background: none;
  border: none;
}

a.no-design {
  color: black;
  background: none;
  border: none;
  text-decoration: none;
}

