.ep-text-editor {
  font-family: "Times New Roman" !important;
  font-size: 23px;
  line-height: 32.7px;
  font-weight: 400;
  color: #222;
  text-align: start;


}

.cdx-marker {
  background: transparent !important;
  color: #06f;
  font-family: "Times New Roman";
  font-size: inherit !important;
}


.ce-header {
  font-family: "work sans";
}

.ce-block b {
  font-weight: 800;
  font-size: inherit;
}
