.ep-text-editor {
  font-size: 17px;
  font-family: "Lato", sans-serif;
  font-weight: normal;

}

.cdx-marker {
  background: transparent !important;
  color: #06f;
}


.ce-header {
  font-family: "work sans";
}

.ce-block b {
  font-weight: 800;
}
