.editor-title {
  width: 100%;
  font-size: 35px;
  font-family: "roboto";
  font-weight: 600;
  line-height: 1.2;
  outline: none;
  border: none;
  margin: 1em 0;
  color: #1f1f1f;
  resize: none;
}
