.srv-container, .srv-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow-x: hidden;
}

.srv-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.srv-main {
  margin: 0 !important;

  width: 100vw;
  height: calc( 100vh - 100px );
  max-height: 800px;
  max-height: 800px;
  max-width: 1260px;


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.srv-main .srv-text{
  color: black;

  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  margin-top: 0;
}

.srv-main .srv-img-c {
  height: 100%;
  display: flex;
  align-items: center;
}

.srv-main .srv-img-c .srv-img {
  max-width: 700px;
}


.srv-main .srv-text .srv-name {
  font-family: "Merriweather", "Domine", serif;
  font-weight: 600;
  font-size: 55px;
}

.srv-main .srv-text .srv-slogan {
  margin-top: 1rem;
  text-align: center;
  font-family: "Open Sans", "Roboto", sans-serif;
  font-weight: normal;
  color: black;
}

.srv-container .scroll-down-icon {
  position: absolute;
  top: calc( 100vh - 50px );
  background: rgba(255, 255, 255, 0.5);;
  padding: 0 5px;
  border-radius: 7px;
  border: 1px solid black;
  /* top: 800px; */
  bottom: 0;
  height: max-content;
  right: 50%;
  font-size: 22px;
  pointer-events:all;
  cursor: pointer;
  transition: background ease 0.5s;
  z-index: 9
}

.srv-container .scroll-down-icon:hover {
  background: white;
}

@media screen and (max-width: 580px) {
  .srv-container .scroll-down-icon {
    top: calc(100vh - 80px) !important;
  }
}

.srv-container .srv-text-sm {
  display: none;
  width: 100%;
  max-width: 1260%;
  margin: 0;
  color: black;
  padding-bottom: 0 !important;
}
.srv-container .srv-text-sm .srv-name {
  font-family: "Domine";
  font-size: 55px;
  font-weight: 600;
  line-height: 1.2;
}

.srv-container .srv-description {
  margin: 30px;
  color: black;
  font-family: "Open Sans", "Roboto", sans-serif;
  font-size: 23px;
  max-width: 1260px;
  padding: 30px 0;
}

.srv-container .srv-text-sm {
  padding: 30px;
}

.srv-img {
  max-height: 100%;
  margin-right: calc( 5px + 15px );
  margin-left: 5px;
}

@media screen and (max-width: 1220px) {
  .srv-container.arc-container .srv-text,
  .srv-container.cve-container .srv-text {
    display: none !important;
  }
  .srv-container .srv-text-sm {
    display: block;
  }
}

@media screen and (max-width: 540px) {
  .srv-main .srv-text .srv-name,
  .srv-container .srv-text-sm .srv-name {
    font-size: 35px !important;
  }

  .srv-container .srv-description {
    font-size: 20px;
    padding: 0 2vw;
  }
}


@media screen and (max-width: 400px) {
  .srv-main .srv-text .srv-name,
  .srv-container .srv-text-sm .srv-name {
    font-size: 27px !important;
  }

  .srv-container .srv-description {
    font-size: 18px;
    padding: 0 2vw;
  }
}

@media screen and (max-width: 900px) {
  .srv-main {
    object-fit: cover;
  }
}

@media screen and (max-width: 480px) {
  .srv-container.wtrs-container .srv-main .srv-text,
  .srv-container.intd-container .srv-main .srv-text {
    display: none !important;
  }
}

.srv-container.wtrs-container .srv-main .srv-text {
  display: none !important;
}



@media screen and (min-height: 800px) {
  .srv-container .scroll-down-icon {
    top: 780px !important;
    bottom: initial;
  }
}
