.srv-container.intd-container .srv-main {
  background-image: url("../../assets/obj/interior.jpg")
}

.srv-container.intd-container .srv-main .srv-img-c {
  display: none;
}

.srv-container.intd-container .srv-main .srv-text {
  display: none;
  color: white;
  z-index: 2;
}

.srv-container.intd-container .srv-main .srv-text .srv-slogan {
  color: white;
  /* display: none; */
}
.srv-container.intd-container .srv-text-sm {
  display: inline-block;
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 0;
  padding-bottom: 0;
}

.srv-container.intd-container .srv-main::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  margin: auto;

  max-height: 800px;
  max-width: 1260px;

  background: rgba(0, 0, 0, 0.6); /* Darkens the background */
}

.srv-container.intd-container .scroll-down-icon {
  color: white;
}

/* architecture service code */
.srv-container.arc-container .srv-main {
}

@media screen and (min-height: 800px) {
  .srv-container.intd-container .srv-main::before {
    top: 100px;
  }
}

@media screen and (max-width: 1300px) {
  .srv-container.intd-container .srv-text-sm {
    padding: 30px;
  }
}
