.srf-container {
  max-width: 940px;
  padding: 20px;
  margin: auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  min-height: 100vh;
}


.srf-main .srf-img-c {
  max-width: 800px;
  max-height: calc(80vh - 100px);

  width: 100%;
  aspect-ratio: 7/4;

  position: relative;
}

.srf-img-c .srf-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 7/4;
  max-width: 800px;
  max-height: calc(80vh - 100px);
  box-shadow: 0 2px 11px gray;
}



.srf-container .srf-scnd {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  gap: 1.5rem;
  padding-top: 3rem;
}

.srf-scnd .srf-info .srf-name {
  font-family: "Domine", serif;
  font-weight: 600;
  font-size: 45px;
  color: black;
  line-height: 1.2;
}


.srf-scnd .srf-info .srf-slogan {
  font-family: "Open Sans", "Roboto", sans-serif;
  font-weight: normal;
  color: black;
  font-size: 20px;
}

.srf-scnd .srf-desc-c .srf-desc {
  color: black;
  font-family: "Open Sans", "Roboto", sans-serif;
  font-size: 23px;
}

.srf-container .srf-scroll-down-icon {
  position: absolute;
  z-index: 1;
  bottom: -1em;
  left: calc( 50% - 1em ) ;
  font-size: 32px;
}

@media screen and (max-width: 540px) {
  .srf-container .srf-name {
    font-size: 35px !important;
  }
  .srf-container .srf-desc {
    font-size: 20px;

  }
}


@media screen and (max-width: 400px) {
  .srf-container .srf-name {
    font-size: 27px !important;
  }
  .srf-container .srf-desc {
    font-size: 18px;

  }
}
